# Gerrit Review wrapper config
.gitreview

# Text file tmp files
*~
*.swp

# C / CMake Build objects
build/

# Eclipse Project Files
.project
.cproject
.settings/

# Root compile commands for tools such as YCM
/compile_commands.json

*.tar.gz
